body{
    display: contents;
}
.section-one{
    background-color: #1F2937;
    color: #FFF;
}

.section-two{

}

.section-three{
    display: flex;
    flex-direction: column;
}
.gray-box{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 140px;
}
.quote{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    
}
.quote-by{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 75px;
    font-size: 18px;
    font-weight: bold;
}
